 body {
     background-image: url("img/Sky_Background-1486.jpg");
     background-size: cover;
     background-position: center;
     color: white;
 }
 
 .weather-img {
     width: 180px;
     display: none;
     position: absolute;
     bottom: 40px;
     right: 40px;
 }
 
 .info-box {
     display: none;
     background: rgba(255, 255, 255, 0.15);
     padding: 15px;
     border-radius: 10px;
     margin-top: 20px;
 }
 
 #warning {
     margin-top: 12px;
     color: yellow;
     font-weight: bold;
 }